/* Resetting default browser styling */
html,
body,
header,
footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(234, 234, 247);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}


.container-fluid {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: rgb(143, 143, 236);
    height: 5em;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: 3em;
    color: navy;
    text-align: center;
}

.row {
    margin: 0;
    padding: 0;
}

#playlist {
    height: 80vh;
    background-color: rgb(184, 184, 241);
}

#playground {
    height: 80vh;
    /* background-color: red; */
}

footer {
    font-size: 1.2em;
    height: 2em;
    background-color: rgb(143, 143, 236);
    display: flex;
    justify-content: center;
    align-content: center;
}

/* body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
} */



/* 
h1 {
    margin: 2em;
    font-size: 3em;
    color: navy;
    text-align: center;
    
} */


